/*
//----------------------------------------------------------------------------
// Copyright (c) 2006-2007 Asymmetric Software - Innovation & Excellence
// Author: Mark Samios
// http://www.asymmetrics.com
// CSS Menu styles
//----------------------------------------------------------------------------
// I-Metrics Layer
//----------------------------------------------------------------------------
// Script is intended to be used with:
// osCommerce, Open Source E-Commerce Solutions
// Copyright (c) 2003 osCommerce
//----------------------------------------------------------------------------
// Released under the GNU General Public License
//----------------------------------------------------------------------------
*/

.menu {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #555;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 0;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  z-index: 100;
}

.menu li {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  background: #EEE;
/*  color: #FFF;*/

  float: left;
  height: 24px;
/*  text-align: center;*/
  z-index: 100;
}

.menu li ul li {
  /*color: #91A4C4;*/
  background: #FFF5C2;
  text-align: left;
  width: 220px;
  border-left: #DDD 1px outset;
  border-right: #DDD 1px outset;
  border-bottom: #DDD 1px outset;
}

.menu table {
  font-size: 11px;
  top: 0px; 
  left: 0px; 
  position: absolute; 
  border-collapse: collapse;
  z-index: 100;
}

.menu a {
/*  width: 130px;*/
  color: #555;
/*  text-indent: 16px;*/
  line-height: 24px; 
  letter-spacing: -0.05em;

  height: 24px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  z-index: 100;
}

.menu a.ext {
  width: 119px; 
  color: #555;
/*  text-indent: 16px;*/
  line-height: 24px; 
  letter-spacing: -0.05em;

  height: 24px;
  text-decoration: none;
  display: block;
  z-index: 101;
}

.menu a a {
/*  text-indent: 10px;*/
  color: #555;
}

HTML .menu a {
  position: relative;
/*  width: 130px;*/
}

HTML .menu a.ext {
  width: 119px;
}

HTML .menu a a {
  width: 220px;
}

HTML .menu a:hover, .menu a.top:hover, .menu a.ext:hover {
  position: relative;
  color: #777;
  text-decoration: none;
  background: #FFF532;
}

HTML .menu li ul li a {
  display:block;
  width: 220px;
  line-height: 24px; 
  height: 24px;
  color: #555;
}


/*
.menu li:hover a {
  border: #999 1px solid;
  margin: -1px;
}
*/

/*
.menu li a {
  background: #E5E6E8; 
}
*/

/*
.menu li:hover a {
  background: inherit;
  color: inherit;
}
*/

.menu li:hover, .menu li.top:hover {
  position: relative;
  background: #FFF532;
  color: #777;
}

/*
.menu li:hover a {
  color: #FFF;
}
*/

.menu li.sub {
  background: #FFF532 url(images/design/arrow_right_pad4.gif) no-repeat right center;
}

.menu li.sub:hover {
  background: #FFF532;
}

.menu li.sep {
  position: relative;
  background: transparent;
  margin: 0px;
  padding-top: 7px;
  padding-left: 2px;
  padding-right: 2px;
  height: 17px;
  float: left;
}

.menu li.top {
  float: left;
  background: inherit;
}

.menu li.top li ul {
  visibility: hidden;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
}
.menu li.top ul {
  visibility: hidden;
  position: absolute;
  left: 0;
/*
  top: 100%;
*/
  margin: 0;
}


.menu li.top li table {
  visibility: hidden;
  position: absolute;
  left: 99%;
  top: 0;
  margin: 0;
}
.menu li.top table {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  margin-left: -1px;
  margin-top: -1px;
}



/*
.menu li.top li ul.rev {
  visibility: hidden;
  position: absolute;
  left: -100%;
  top: 0;
  margin: 0;
}
.menu li.top li table.rev {
  visibility: hidden;
  position: absolute;
  left: -99%;
  top: 0;
  margin: 0;
}
*/

.menu ul li:hover ul {
  visibility: visible;
}
.menu ul li:hover ul li:hover ul {
  visibility: visible;
}
.menu ul li:hover ul li:hover ul li:hover ul {
  visibility: visible;
}
.menu ul li:hover ul li:hover ul li:hover ul li:hover ul {
  visibility: visible;
}
.menu ul li:hover ul li ul {
  visibility: hidden;
}
.menu ul li:hover ul li:hover ul li ul {
  visibility: hidden;
}
.menu ul li:hover ul li:hover ul li:hover ul li ul {
  visibility: hidden;
}
.menu ul li:hover ul li:hover ul li:hover ul li:hover ul li ul {
  visibility: hidden;
}
.menu ul li:hover a ul {
  visibility: hidden;
}
.menu ul li:hover a ul li:hover a ul {
  visibility: hidden;
}
.menu ul li:hover a ul li:hover a ul li:hover a ul {
  visibility: hidden;
}
.menu ul li:hover a ul li:hover a ul li:hover a ul li:hover a ul {
  visibility: hidden;
}
.menu ul a:hover ul ul {
  visibility: hidden;
}
.menu ul a:hover ul a:hover ul ul {
  visibility: hidden;
}
.menu ul a:hover ul a:hover ul a:hover ul ul {
  visibility: hidden;
}
.menu ul a:hover ul {
  visibility: visible;
}
.menu ul a:hover ul a:hover ul {
  visibility: visible;
}
.menu ul a:hover ul a:hover ul a:hover ul {
  visibility: visible;
}
.menu ul a:hover ul a:hover ul a:hover ul a:hover ul {
  visibility: visible;
}
