<script language="javascript" type="text/javascript">
  $('[<<<POPUP_IMAGE_SELECTOR>>>]').fancybox({
    'autoScale'     : false,
    'transitionIn'  : 'elastic',
    'transitionOut' : 'elastic'
  });
</script>
